.help-button {
	position: absolute;
	top: 4px;
	right: 1px;
	padding: 20px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-appearance: none;
	background: 0 0;
	color: #555;
	border: none;

	&:before {
		position: absolute;
		top: 5px;
		left: 6px;
		padding: 4px;
	}

	&:focus {
		outline: 0;

		&:before {
			-webkit-box-shadow: 0 0 0 1px #5b9dd9,0 0 2px 1px rgba(30,140,190,.8);
			box-shadow: 0 0 0 1px #5b9dd9,0 0 2px 1px rgba(30,140,190,.8);
			-webkit-border-radius: 100%;
			border-radius: 100%;
		}
	}

	&.is-open,
	&:focus,
	&:hover {
		color: #0073aa;
	}
}

.help-description {
	color: #555;
	display: none;
	background: #fff;
	padding: 9pt 15px;
	border-top: 1px solid #ddd;
	width: 100%;
}