.dialog__tabs {

	.tab {
		padding: 10px 14px 11px;
		cursor: pointer;
		display: inline-block;
		color: #a0a5aa;

		&:hover,
		&:focus,
		&.is-active {
			color: #555;
		}

		&:focus {
			outline: none;
			box-shadow: none;
		}
	}
}

.dialog__section {
	border-top: 1px solid #ddd;
	padding: 15px 12px;
	min-height: 250px;
	max-height: 500px;
	overflow-y: auto;
}