.dialog__header {
	@include clearfix;
}

.dialog__title {
	display: block;
	float: left;
	padding-left: 14px;
	overflow: hidden;
	width: calc( 100% - 60px );

	h2 {
		margin: 0;
		font-size: 20px;
		font-weight: 300;
		line-height: 60px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.dialog__close {
	float: right;
	padding: 0;
	margin: 0;
	width: 60px;
	color: #a0a5aa;
	text-align: center;
	border: none;
	background-color: transparent;
	box-shadow: none;
	cursor: pointer;

	@include transition(background-color 0.1s ease-in-out);

	&:after {
		content: "\f335";
		font: normal 22px/58px dashicons;
	}

	&:hover,
	&:focus {
		color: #23282d;
	}

	&:focus {
		outline: none;
		box-shadow: none;
	}

	&:disabled {
		color: #a0a5aa;

		&:hover,
		&:focus {
			color: #a0a5aa;
			background-color: #fff;
		}
	}
}