@media screen and ( min-width: 641px ) {

	.collapse-sidebar {
		position: fixed;
		bottom: 8px;
		left: 10px;
		padding: 0;
		color: #656a6f;
		outline: 0;
		height: 28px;
		line-height: 1;
		background-color: transparent;
		border: none;
		box-shadow: none;
		border-radius: 0;

		&:focus,
		&:hover {
			color: #0073aa;

			.collapse-sidebar-arrow {
				box-shadow: 0 0 0 1px #5b9dd9,0 0 2px 1px rgba(30,140,190,.8);
			}
		}
	}

	.collapse-sidebar-arrow {
		width: 20px;
		height: 20px;
		margin: 0 2px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		overflow: hidden;

		&:before {
			display: block;
			content: "\f148";
			background: #eee;
			font: 400 20px/1 dashicons;
			speak: none;
			padding: 0;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}

	.collapse-sidebar-label {
		margin-left: 3px;
	}

	.collapse-sidebar-arrow,
	.collapse-sidebar-label {
		display: inline-block;
		vertical-align: middle;
		line-height: 20px;
	}

	.is-collapsed {

		.collapse-sidebar-label {
			display: none;
		}

		.collapse-sidebar-arrow:before {
			-webkit-transform: rotate(180.001deg);
			-ms-transform: rotate(180.001deg);
			transform: rotate(180.001deg);
		}
	}
}