.modal__content {
	position: absolute;
	top: 60px;
	bottom: 47px;
	left: 0;
	right: 0;
	overflow-y: auto;
	border-top: 1px solid #ddd;

	.has-sections & {
		top: 100px;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="number"],
	input[type="tel"],
	input[type="url"] {
		width: 100%;
	}
}

.controls--modal {
	margin-top: 15px;
}