.ghost-pane {
	position: fixed;
	display: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #999;
	opacity: 0;

	@include transform(scale(0.2));
	@include transition(all 150ms ease-in-out);

	&.top {
		@include transform(scale(1));
	}

	&.left {
		right: calc(100% - 300px);
		width: 300px;
	}

	&.right {
		left: calc(100% - 300px);
		width: 300px;
	}

	&.top,
	&.left,
	&.right {
		opacity: 0.2;

		@include transform(scale(1));
	}
}