//
// Variables
//
$control-spacing-vertical: $global-spacing-vertical !default;
$control-spacing-horizontal: 12px !default;
$control-body-max-width: 350px !default;


//
// Exported selectors
//
.#{$global-class-prefix}ui {

	.controls {
		padding: 0 $control-spacing-horizontal;
	}

	.control {
		margin-bottom: $control-spacing-vertical;

		&__title {
			display: block;
			font-size: 14px;
			line-height: 24px;
			font-weight: 600;
			margin-bottom: 5px;

			.button-small {
				margin-left: 6px;
				font-weight: 400;
			}
		}

		&__description {
			display: block;
			margin-bottom: 5px;
			font-style: italic;
			line-height: 18px;
		}

		&__body {
			max-width: $control-body-max-width;
		}

		&__message {
			margin: $control-spacing-horizontal 0 ( $control-spacing-horizontal * 1.5 );
			text-align: center;
		}

		.actions {
			text-align: right;

			.button {
				min-width: 48%;

				&:not( :first-child ) {
					margin-left: 2%;
				}
			}
		}
	}

	input ~ .control {

		&__title {
			display: inline;
		}
	}

	@import "controls/button-group";
	@import "controls/checkbox";
	@import "controls/colorpicker";
	@import "controls/editor";
	@import "controls/icon";
	@import "controls/link";
	@import "controls/list";
	@import "controls/media";
	@import "controls/radio";
	@import "controls/range";
	@import "controls/style";
	@import "controls/switch";

	// Contextual styles
	.modal-container {

		&.is-medium,
		&.is-large,
		&.is-x-large {

			.control {
				@include clearfix;

				&__header {
					float: left;
					margin-right: 12px;
					width: 350px;
				}

				&__body {
					display: block;
					padding: 2px;
					overflow: hidden;
				}
			}
		}
	}
}

// Icons
.#{$global-class-prefix}icon {

	&::before {
		display: inline-block;
		width: 20px;
		height: 20px;
		font-size: 20px;
		font-family: dashicons;
		text-decoration: inherit;
		font-weight: normal;
		font-style: normal;
		vertical-align: top;
		text-align: center;
		-webkit-transition: color .1s ease-in 0;
		transition: color .1s ease-in 0;
		-webkit-font-smoothing: antialiased;
	}
}

.#{$global-class-prefix}align-center,
.#{$global-class-prefix}align-middle {

	&::before {
		content: "\f134";
	}
}

.#{$global-class-prefix}align-left,
.#{$global-class-prefix}align-top {

	&::before {
		content: "\f135";
	}
}


.#{$global-class-prefix}align-right,
.#{$global-class-prefix}align-bottom {

	&::before {
		content: "\f136";
	}
}

.#{$global-class-prefix}align-top,
.#{$global-class-prefix}align-middle,
.#{$global-class-prefix}align-bottom {

	&::before {
		transform: rotate( 90deg );
		vertical-align: middle;
		line-height: 1;
	}
}