$sidebar-background-color: #efefef !default;
$sidebar-border-color: #ddd !default;

@import "sidebar/collapse";
@import "sidebar/layout";

html {
	background: #f1f1f1;
}

.tailor-ui {
	color: #555;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	line-height: 1.4em;
	overflow: hidden;

	&.is-dragging {
		pointer-events: none;
		@include user-select( none );

		.modal__header {
			pointer-events: all;
		}
	}

	.tailor-sidebar {
		display: none;
	}

	&.is-initialized {

		.tailor-sidebar {
			display: block;
		}
	}
}

.tailor {
	position: fixed;
	overflow: visible;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	min-width: 0;
	margin-left: 300px;

	@include transition-property( margin );
	@include transition-duration( 0.2s );

}

.tailor-sidebar {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 0;
	margin: 0;
	z-index: 10;
	background-color: $sidebar-background-color;
	border-right: 1px solid $sidebar-border-color;

	@include transition-property( margin );
	@include transition-duration( 0.2s );
}

.tailor-sidebar__header {
	padding-right: 15px;
	margin: 0;
	border-bottom: 1px solid $sidebar-border-color;

	.button-primary {
		float: right;
		margin-top: 6px;
	}

	.spinner {
		float: right;
		margin-top: 13px;
		margin-right: 4px;
	}

	@include clearfix;
}

.tailor-sidebar__content {
	position: absolute;
	top: 46px;
	bottom: 45px;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.tailor-sidebar__control {
	float: left;
	padding-right: 2px;
	width: 45px;
	height: 45px;
	border-right: 1px solid $sidebar-border-color;
	color: #444;
	cursor: pointer;
	box-sizing: content-box;
	text-decoration: none;

	@include transition( color .1s ease-in-out, background .1s ease-in-out );

	&:before {
		font: normal 22px/45px dashicons;
		content: "\f335";
		position: relative;
		top: 1px;
		left: 13px;
	}

	&:focus,
	&:hover {
		background: #ddd;
		border-color: #ccc;
		color: #000;
		outline: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

.tailor-sidebar__footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 300px;
	height: 45px;
	border-top: 1px solid #ddd;
}

.tailor-preview__viewport {
	background: url( ../img/spinner.gif ) no-repeat center center;
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px;
	background-color: #f1f1f1;

	> * {
		opacity: 0;

		@include transition( opacity 150ms );
	}


	&.is-loaded {
		background-image: none;

		> * {
			opacity: 1;
		}
	}
}

.tailor-empty {
	padding: 0 12px;
	margin-top: 15px;
}

@media screen and ( min-width: 641px ) {

	.tailor-sidebar {
		width: 300px;
	}

	.is-collapsed {

		.tailor {
			margin-left: 0;
		}

		.tailor-sidebar {
			margin-left: -300px;
		}
	}
}

@media screen and ( min-width: 782px ) {

	.tailor-sidebar__header {

		.button-primary {
			margin-top: 9px;
		}
	}
}