///
/// Micro clearfix provides an easy way to contain floats without adding additional markup
///
@mixin clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}