<footer class="footer dark-theme" role="contentinfo" id="footer">
    <div class="container footer-container">
        <div class="row">

            <div class="col-md-4">
                <p class="feature-text">Tailor is a free and open source project that allows WordPress users to free themselves from the layout constraints of the editor.</p>

                <a class="btn btn-outline-secondary" href="{{ site.tailor.wordpress }}" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'download-footer');"><i class="fa fa-wordpress fa-2x"></i><span>Download Plugin</span></a>
            </div>


            <div class="col-md-2 col-md-offset-2 col-sm-3">
                <ul class="menu">
                    <li class="menu__item">
                        <h3 class="menu__title">Extensions</h3>
                    </li>
                    <li class="menu__item"><a href="https://wordpress.org/plugins/tailor-portfolio/" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'portfolio');">Portfolio</a></li>
                    <li class="menu__item"><a href="https://wordpress.org/plugins/tailor-woocommerce/" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'woocommerce');">WooCommerce</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-sm-3">
                <ul class="menu">
                    <li class="menu__item">
                        <h3 class="menu__title">Learn more</h3>
                    </li>
                    <li class="menu__item"><a href="https://medium.com/tailor-page-builder" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'blog');">Blog</a></li>
                    <li class="menu__item"><a href="https://wordpress.org/plugins/tailor/changelog/" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'changelog');">Changelog</a></li>
                    <li class="menu__item"><a href="https://support.gettailor.com/hc/en-us/categories/202586427" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'getting-started-footer');">Getting started</a></li>
                    <li class="menu__item"><a href="https://support.gettailor.com/hc/en-us/categories/203117247" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'extending-footer');">Developers</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-sm-3">
                <ul class="menu">
                    <li class="menu__item">
                        <h3 class="menu__title">Contact</h3>
                    </li>
                    <li class="menu__item"><a href="http://support.gettailor.com" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'hc');">Help Center</a></li>
                    <li class="menu__item"><a href="http://www.facebook.com/tailorwp" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'facebook');">
                        Facebook</a>
                    </li>
                    <li class="menu__item"><a href="https://www.twitter.com/tailorwp" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'twitter-tailor');">
                        @tailorwp</a>
                    </li>
                    <li class="menu__item"><a href="https://www.twitter.com/andrewjworsfold" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'twitter-andrew');">
                        @andrewjworsfold
                    </a></li>
                    <li class="menu__item"><a href="https://www.gettailor.com/donate" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'donate');">
                        Donate
                    </a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>