<footer class="footer dark-theme" role="contentinfo" id="footer">
    <div class="container footer-container">
        <div class="row">

            <div class="col-md-4">
                <p>Tailor is a free and open source project that allows WordPress users to free themselves from the layout constraints of the editor.</p>

                <a class="btn btn-outline-secondary" href="{{ site.tailor.wordpress }}"><i class="fa fa-wordpress fa-2x"></i><span>Download Plugin</span></a>
            </div>

            <div class="col-md-2 col-md-offset-4 col-sm-4">
                <ul class="menu">
                    <li class="menu__item">
                        <h3 class="menu__title">Learn more</h3>
                    </li>
                    <!-- <li class="menu__item"><a href="{{ site.base_url }}/documentation/">Documentation</a></li> -->
                    <li class="menu__item"><a href="https://wordpress.org/plugins/tailor/changelog/">Changelog</a></li>
                </ul>
            </div>

            <!--
            <div class="col-md-2 col-sm-4">
                <ul class="menu">
                    <li class="menu__item">
                        <h3 class="menu__title">Extensions</h3>
                    </li>
                    <li class="menu__item"><a href="https://wordpress.org/plugins/tailor-portfolio/">Portfolio</a></li>
                </ul>
            </div> -->

            <div class="col-md-2 col-sm-4">
                <ul class="menu">
                    <li class="menu__item">
                        <h3 class="menu__title">Contact</h3>
                    </li>
                    <li class="menu__item"><a href="https://www.twitter.com/tailorwp">@tailorwp</a></li>
                    <li class="menu__item"><a href="https://www.twitter.com/andrewjworsfold">@andrewjworsfold</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>