
<nav class="navigation" role="navigation">
  <ul class="menu menu--navigation">
    <li class="menu__item">
      <a href="https://sandboxwp.io/create/tailor" target="_blank" onclick="ga( 'send', 'event', 'button', 'click', 'test-drive' );">Try Live Demo</a>
      <a href="https://www.youtube.com/channel/UCiFGt6qqPwN1ruuEnjlVOqA" target="_blank" onclick="ga( 'send', 'event', 'button', 'click', 'youtube-navigation' );">Videos</a>
      <a href="http://support.gettailor.com" target="_blank" onclick="ga( 'send', 'event', 'button', 'click', 'getting-started-navigation' );">User Guide</a>
      <a href="https://medium.com/tailor-page-builder" target="_blank" onclick="ga( 'send', 'event', 'button', 'click', 'blog-navigation' );">Blog</a>
    </li>
  </ul>
</nav>