{% if page.group == "getting-started" %}
  <h1>Getting started</h1>
  <p class="lead">
    An overview of Bootstrap, including how to download and use it, some basic templates and examples, and more.
  </p>
{% elsif page.group == "layout" %}
  <h1>Layout</h1>
  <p class="lead">
    Options for structuring your pages with Bootstrap, including global styles, required scaffolding, grid system, and more.
  </p>
{% elsif page.group == "content" %}
  <h1>Content</h1>
  <p class="lead">
    Styles for displaying content with some of the most commonly used HTML elements, including normalization, typography, images, tables, and more.
  </p>
{% elsif page.group == "elements" %}
  <h1>Elements</h1>
{% elsif page.title == "Placeholders" %}
<h1>Placeholders</h1>
{% elsif page.group == "about" %}  <h1>About</h1>
  <p class="lead">
    Learn about the project's history, meet the maintaining teams, and find out how to use the Bootstrap brand.
  </p>
{% endif %}
