// Toggles
//
// Used in conjunction with global variables to enable certain theme features.

@mixin box-shadow($shadow...) {
  @if $enable-shadows {
    box-shadow: $shadow;
  }
}

@mixin transition($transition...) {
  @if $enable-transitions {
    transition: $transition;
  }
}

// Utilities
@import "bootstrap/mixins/breakpoints";
@import "bootstrap/mixins/hover";
@import "bootstrap/mixins/image";
@import "bootstrap/mixins/tag";
@import "bootstrap/mixins/reset-filter";
@import "bootstrap/mixins/resize";
@import "bootstrap/mixins/screen-reader";
@import "bootstrap/mixins/size";
@import "bootstrap/mixins/tab-focus";
@import "bootstrap/mixins/reset-text";
@import "bootstrap/mixins/text-emphasis";
@import "bootstrap/mixins/text-hide";
@import "bootstrap/mixins/text-truncate";

// // Components
@import "bootstrap/mixins/alert";
@import "bootstrap/mixins/buttons";
@import "bootstrap/mixins/cards";
@import "bootstrap/mixins/pagination";
@import "bootstrap/mixins/lists";
@import "bootstrap/mixins/list-group";
@import "bootstrap/mixins/nav-divider";
@import "bootstrap/mixins/forms";
@import "bootstrap/mixins/progress";
@import "bootstrap/mixins/table-row";

// // Skins
@import "bootstrap/mixins/border-radius";
@import "bootstrap/mixins/gradients";

// // Layout
@import "bootstrap/mixins/clearfix";
@import "bootstrap/mixins/center-block";
@import "bootstrap/mixins/grid-framework";
@import "bootstrap/mixins/grid";
@import "bootstrap/mixins/pulls";
