
$user-spacing-unit: $base-spacing-unit !default;

$user-border-width: 1px !default;
$user-border-style : solid !default;
$user-border-color: $border-color !default;
$user-border-radius: $border-radius !default;

.tailor-ui {

	.tailor-author {
		margin-bottom: #{$user-spacing-unit}em;
		border: $user-border-width $user-border-style $user-border-color;
		overflow: hidden;

		&.has-header-image {

			.tailor-author__header {
				position: relative;
				margin-bottom: 3em;
				min-height: 180px;
				border-top-left-radius: $user-border-radius;
				border-top-right-radius: $user-border-radius;
			}

			.tailor-author__avatar {
				position: absolute;
				bottom: -50px;
				left: 0;
				right: 0;
				margin: 0 auto;
			}
		}
	}

	.tailor-author__header {
		padding-top: 1em;
		text-align: center;
	}

	.tailor-author__avatar {
		width: 100px;
		border-radius: 50%;
		border: 5px solid #fff;
	}

	.tailor-author__wrap {
		padding: 0 2em 1em;
	}

	.tailor-author__name {
		margin: 0 0 1em;
		font-size: 1.25em;
		text-align: center;
	}

	.tailor-author__social-links {
		padding: 0;
		margin: 0 0 0.5em;
		list-style: none;
		text-align: center;

		li {
			display: inline-block;
			margin-right: 0.5em;
		}

		a {
			text-decoration: none;
		}
	}
}