
$tablet-viewport-width: 768 !default;
$tablet-viewport-height: 1024 !default;
$tablet-bezel-vertical: 60 !default;
$tablet-bezel-horizontal: 30 !default;
$tablet-bezel-border-radius: 25px !default;

.tailor-preview {

	&.medium-screens,
	&.large-screens {

		&:before {
			border-radius: $tablet-bezel-border-radius;
		}

		.tailor-preview__viewport {
			width: 100%;
			height: 100%;
			max-height: none;
			max-width: 100%;
		}
	}

	&.medium-screens {

		&:before {
			height: #{ ( $tablet-bezel-vertical * 2 ) + $tablet-viewport-height}px;
			top: calc( 0px - #{$tablet-bezel-vertical}px );
		}
	}

	&.large-screens {

		&:before {
			height: #{ ( $tablet-bezel-horizontal * 2 ) + $tablet-viewport-width}px;
			top: calc( 0px - #{$tablet-bezel-horizontal}px );
		}
	}
}

//
// Medium device preview
//
@media screen and ( min-width: #{$tablet-viewport-width}px ){

	.tailor-preview {

		&.medium-screens {

			&:before {
				width: #{ ( $tablet-bezel-horizontal * 2 ) + $tablet-viewport-width}px;
				margin-left: -#{ ( $tablet-viewport-width / 2 ) + $tablet-bezel-horizontal}px;
			}

			.tailor-preview__viewport {
				max-width: #{$tablet-viewport-width}px;
			}
		}
	}
}

@media screen and ( min-height: #{$tablet-viewport-height}px ){

	.tailor-preview {

		&.medium-screens {
			top: calc( 50% - #{( $tablet-viewport-height / 2 )}px );

			&:before {
				top: -#{$tablet-bezel-vertical}px;
			}

			.tailor-preview__viewport {
				height: #{$tablet-viewport-height}px;
				max-height: none;
			}
		}
	}
}

//
// Large device preview
//
@media screen and ( min-width: #{$tablet-viewport-height}px ){

	.tailor-preview {

		&.large-screens {

			&:before {
				width: #{ ( $tablet-bezel-vertical * 2 ) + $tablet-viewport-height}px;
				margin-left: -#{ ( $tablet-viewport-height / 2 ) + $tablet-bezel-vertical}px;
			}

			.tailor-preview__viewport {
				max-width: #{$tablet-viewport-height}px;
			}
		}
	}
}

@media screen and ( min-height: #{$tablet-viewport-width}px ){

	.tailor-preview {

		&.large-screens {
			top: calc( 50% - #{( $tablet-viewport-width / 2 )}px );

			&:before {
				top: -#{$tablet-bezel-horizontal}px;
			}

			.tailor-preview__viewport {
				height: #{$tablet-viewport-width}px;
				max-height: none;
			}
		}
	}
}