<div class="block feature-2">
  <div class="container">
    <div class="row">
      <div class="feature-text col-md-10 col-md-offset-1 text-center col-md-center">
        <h2>Super extensible</h2>
        <p>Add, update and remove elements and even extend the functionality of Tailor itself using our carefully designed system of <a href="https://github.com/andrew-worsfold/tailor/blob/master/actions.md" target="_blank">actions</a>, <a href="https://github.com/andrew-worsfold/tailor/blob/master/filters.md" target="_blank">filters</a>, events and APIs.</p>
        <p>Check out our <a href="https://support.gettailor.com/hc/en-us/categories/203117247" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'extending');">developer documentation &#8594;</a></p>
      </div>
    </div>
  </div>
</div>