<div class="block feature-4">
  <div class="container">
    <div class="row">
      <div class="feature-text col-md-8 col-md-offset-2 m-b-2 text-md-center">
        <h2>Free and open-source</h2>
        <p>Tailor has been released to the WordPress community as a free and open-source plugin.  Get involved in the <a href="https://www.github.com/andrew-worsfold/tailor" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'github-link');">GitHub project</a> and get building!</p>

        <a class="github-button" href="https://github.com/Encalvely/tailor/subscription" data-icon="octicon-eye" data-size="large" data-show-count="true" aria-label="Watch Encalvely/tailor on GitHub" onclick="ga('send', 'event', 'button', 'click', 'github-watch');">Watch</a>

        <a class="github-button" href="https://github.com/Encalvely/tailor" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star Encalvely/tailor on GitHub"  onclick="ga('send', 'event', 'button', 'click', 'github-star');">Star</a>

        <a class="github-button" href="https://github.com/Encalvely/tailor/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork Encalvely/tailor on GitHub" onclick="ga('send', 'event', 'button', 'click', 'github-fork');">Fork</a>

      </div>

      <!--
      <figure class="col-md-10 col-md-offset-1 m-y-1">
        <a href="https://www.github.com/andrew-worsfold/tailor" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'github-image');">
          <img class="img-thumbnail" src="{{ site.baseurl }}/assets/img/github.png">
        </a>
      </figure> -->

    </div>
  </div>
</div>