<div class="block feature-4">
  <div class="container">
    <div class="row">
      <div class="feature-text col-md-8 col-md-offset-2 m-b-2 text-md-center">
        <h2>Free and open-source</h2>
        <p>Tailor has been released to the WordPress community as a free and open-source plugin.  Get involved in the <a href="https://www.github.com/Enclavely/tailor" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'github-link');">GitHub project</a> and get building!</p>

        <a class="github-button" href="https://github.com/Enclavely/tailor/subscription" data-icon="octicon-eye" data-size="large" data-show-count="true" aria-label="Watch Enclavely/tailor on GitHub" onclick="ga('send', 'event', 'button', 'click', 'github-watch');">Watch</a>

        <a class="github-button" href="https://github.com/Enclavely/tailor" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star Enclavely/tailor on GitHub"  onclick="ga('send', 'event', 'button', 'click', 'github-star');">Star</a>

        <a class="github-button" href="https://github.com/Enclavely/tailor/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork Enclavely/tailor on GitHub" onclick="ga('send', 'event', 'button', 'click', 'github-fork');">Fork</a>

      </div>

    </div>
  </div>
</div>