<div class="block feature-3">
  <div class="container">
    <div class="row">
      <div class="feature-text col-md-6 m-b-2 text-md-left">
        <h2>Fully responsive</h2>
        <p>All elements look great, regardless of which screen they are viewed on.  Control when columns and grids collapse and even change the visibility of elements based on the current screen size.</p>
      </div>
      <figure class="col-md-12">
        <img src="{{ site.baseurl }}/assets/img/responsive.png">
      </figure>
    </div>
  </div>
</div>