<div class="block feature-1">
  <div class="container">
    <div class="row">
      <div class="feature-text col-md-6 col-md-push-6 text-md-right m-b-2 col-md-center">
        <h2>Simple and intuitive</h2>
        <p>Create complex layouts by simply dragging and dropping elements relative to one another.  Customize the look using our carefully selected options.</p>
        <a href="https://support.gettailor.com/hc/en-us/categories/202586427" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'getting-started');">Learn more &#8594;</a>
      </div>
      <figure class="col-md-6 col-md-pull-6">
        <img src="{{ site.baseurl }}/assets/img/elements.png">
      </figure>
    </div>
  </div>
</div>