<div class="block features dark-theme">
  <div class="container">

    <div class="row">
      <div class="features__item feature-text col-md-4">
        <h3 class="h4">Flexible elements</h3>
        <p>Our impressive range of standard elements allow you to create almost all of the layouts that you'll encounter on the Web.</p>
      </div>
      <div class="features__item feature-text col-md-4">
        <h4 class="h4">Powerful templates</h4>
        <p>Save elements, collections or even entire page for later use.  Simply drag and drop templates into the desired position on the page.</p>
      </div>
      <div class="features__item feature-text col-md-4">
        <h3 class="h4">Tracked history</h3>
        <p>Get creative and explore new and exciting layout possibilities knowing that mistakes can be easily undone.</p>
      </div>
    </div>

    <div class="row">
      <div class="features__item feature-text col-md-4">
        <h3 class="h4">Thoughtful options</h3>
        <p>We've applied our knowledge of the Web so that you only have to make decisions about things that matter.</p>
      </div>
      <div class="features__item feature-text col-md-4">
        <h3 class="h4">One click edits</h3>
        <p>The edit dialog is built for speed and usability.  Drag it, snap it, maximize it and preview your changes before they are applied.</p>
      </div>
      <div class="features__item feature-text col-md-4">
        <h4 class="h4">Easy device previews</h4>
        <p>Preview your page on a variety of device sizes all from within the application.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-md-center m-y-3 subscribe">

        <form action="//enclavely.us16.list-manage.com/subscribe/post?u=167ad81fee2b497bb35b13e2e&amp;id=8a34bb6934" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <fieldset class="form-group">

            <label class="m-b-1" for="mce-EMAIL">Want to keep up to date with developments?</label>
            <input type="email" value="" name="EMAIL" class="form-control m-b-1" id="mce-EMAIL" placeholder="Email address" required>

            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_167ad81fee2b497bb35b13e2e_8a34bb6934" tabindex="-1" value="">
            </div>
            <div class="clearfix"></div>

            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-outline-secondary" onclick="ga('send', 'event', 'button', 'click', 'subscribe');"><i class="fa fa-envelope"></i> Subscribe to our newsletter</button>

          </fieldset>
          <small class="text-muted">We'll never share your email with anyone else.</small>
        </form>
      </div>
    </div>
  </div>
</div>