
.is-loading {
	background: url( ../img/spinner.gif ) no-repeat center center;
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px;

	> * {
		opacity: 0.5;
	}
}

[draggable=true] {
	-khtml-user-drag: element;
	-webkit-user-drag: element;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

.tailor-ui {

	.tailor-element {
		cursor: default;

		.gm-style,
		iframe {
			pointer-events: none;
		}

		&.is-selected {

			.gm-style,
			iframe {
				pointer-events: all;
			}
		}
	}
}