//
// Variables
//
$select-background-color: $global-primary-color !default;

$guide-border-width: 4px !default;
$guide-border-style: $global-border-style !default;
$guide-border-color: $global-primary-color !default;
$guide-background-color: $global-primary-color !default;


//
// Exported selectors
//
.#{$global-class-prefix}ui {

	.tools {
		pointer-events: none;
		overflow: visible;

		.select-container {
			position: absolute;
			top: 0;
			z-index: 999;
		}

		.select {
			position: absolute;
			z-index: 999;
			font-family: $global-font-family;
			font-size: $global-font-size;
			pointer-events: none;

			&__controls,
			&__menu {
				position: absolute;
				top: 1px;
				font-size: inherit;
			}

			&__controls {
				right: 1px;
			}

			&__menu {
				left: 1px;

				.select {

					&__item {
						margin-bottom: 2px;
						clear: both;
						cursor: default;

						&:not( :only-child ) {
							cursor: pointer;

							&:first-child::after {
								content: ' \25BE';
							}
						}

						&:not( :first-child ) {
							display: none;
						}
					}
				}
			}

			&__item {
				float: left;
				padding: 2px 6px;
				margin: 0;
				border: none;
				outline: none;
				cursor: pointer;
				color: $global-white-color;
				line-height: 24px;
				font-size: 13px;
				font-weight: normal;
				background-color: $select-background-color;
				pointer-events: all;
				white-space: nowrap;
				text-shadow: none;
				box-shadow: none;

				&:hover,
				&:focus {
					background-color: darken( $select-background-color, 5% );
				}

				@include user-select( none );

				&--left {

					&::after {
						content: ' \25C0';
					}
				}

				&--right {

					&::after {
						content: ' \25B6';
					}
				}
			}

			&.is-expanded .select {

				&__menu  {

					.select {

						&__item {
							display: block;

							&:not( :only-child ) {

								&:first-child::after {
									content: ' \25B4';
								}
							}
						}
					}
				}
			}
		}

		.guide {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
			pointer-events: none;
			z-index: 999;

			&--top {
				border-top: $guide-border-width $guide-border-style $guide-border-color;
			}

			&--right {
				border-right: $guide-border-width $guide-border-style $guide-border-color;
			}

			&--bottom {
				border-bottom: $guide-border-width $guide-border-style $guide-border-color;
			}

			&--left {
				border-left: $guide-border-width $guide-border-style $guide-border-color;
			}

			&--center {

				@include prefixer( transform-style, preserve-3d, webkit moz spec );

				&::before {
					position: absolute;
					top: 50%;
					left: 50%;
					content: '\002B';
					padding: 0 8px;
					font-family: $global-font-family;
					font-size: 1em;
					color: $global-white-color;
					background-color: $guide-background-color;

					@include transform( translate( -50%, -50% ) );
				}
			}

			&::after {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				background-color: rgba( 0, 160, 210, 0.1 );
			}
		}
	}
}