.control--switch {

	.switch {
		position: relative;
		display: inline-block;
		margin: 2px;
		width: 13px;
		height: 12px;
		visibility: hidden;
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			display: block;
			visibility: visible;
			position: absolute;

			transition: all .150s ease-in-out;
		}

		&::before {
			width: 34px;
			height: 14px;
			border-radius: 7px;
			background-color: #b3b3b3;
		}

		&::after {
			width: 20px;
			height: 20px;
			top: -3px;
			left: -2px;
			border-radius: 50%;
			background-color: #fff;
			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
		}
	}

	input {
		display: none;

		&:checked {

			&~.switch {

				&::before {
					background-color: #008ec2;
				}

				&::after {
					left: calc(100% + 3px);
				}
			}
		}
	}
}

