// scss-lint:disable ImportantRule


.browser-window {
  text-align: left;
  margin: 2em 0;
  //width: 100%;
  max-width: 800px;
  //min-height: 400px;
  display: inline-block;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.top-bar {
  height: 30px;
  border-radius: 4px 4px 0 0;
  border-top: thin solid #eaeae9;
  border-bottom: thin solid #dfdfde;
  background: #ebebeb;
}

.circles {
  margin: 1px 10px;
}

.browser-window .window-content {
  margin: 0;
  width: 100%;
  //min-height: 90%;
  //display: inline-block;
  border-radius: 0 0 4px 4px;
  overflow:hidden;

  img {
    max-width: 100%;
    //width:650px;
  }
}

.window-content pre[class*="language-"] {
  background: #fff;
  margin: 0;
}

.circle {
  height: 8px;
  width: 8px;
  display: inline-block;
  border-radius: 50%;
  background-color: white;
}

.bd-container {
  padding-top: 2em;
}

.bd-masthead {
  position: relative;
  padding: 3rem ($grid-gutter-width / 2) 2rem;
  //color: $bd-purple-light;
  text-align: center;
  //background-image: linear-gradient(135deg, darken($bd-purple, 20%), $bd-purple, lighten(saturate($bd-purple, 5%), 15%));


  .hero,
  .browser-window {
    margin-left: auto;
    margin-right: auto;
  }

  .hero {
    max-width:800px;
    margin-bottom: 2em
  }

  .bd-booticon {
    margin: 0 auto 2rem;
    color: $bd-purple-light;
    border-color: $bd-purple-light;
  }

  h1 {
    font-weight: 300;
    line-height: 1;
  }

  .lead {
    margin-right: auto;
    margin-bottom: 2rem;
    margin-left: auto;
    font-size: 1.25rem;
    //color: #fff;
  }

  @include media-breakpoint-up(sm) {
    padding-top: 8rem;
    padding-bottom: 2rem;

    .btn {
      width: auto;
    }

    .carbonad {
      margin-bottom: 0 !important;
    }
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 4rem;

    .bd-header {
      margin-bottom: 4rem;
    }

    h1 {
      font-size: 4rem;
    }

    .lead {
      font-size: 1.5rem;
    }

    .carbonad {
      margin-top: 3rem !important;
    }
  }

  @include media-breakpoint-up(lg) {
    .lead {
      width: 85%;
      font-size: 2rem;
    }
  }
}
