$exception-border-width: 1px !default;
$exception-border-color: $border-color !default;
$exception-background-color: $background-color !default;
$exception-box-shadow: $box-shadow !default;

.tailor-ui {

	.error {
		padding: 0.5em 1em;
		margin-bottom: 0;
		border: $exception-border-width solid $exception-border-color;
	}

	.tailor-notification {
		padding: 0.5em 1em;
		margin-bottom: 0;
		border: $exception-border-width solid $exception-border-color;

		&--success,
		&--warning,
		&--error {
			border-left-width: 2px;
		}

		&--success {
			border-left-color: #7ad03a;
		}

		&--warning {
			border-left-color: #ffba00;
		}

		&--error {
			border-left-color: #dd3d36;
		}
	}
}