.#{$global-class-prefix}ui {

	.u-text-left {
		text-align: left!important;
	}

	.u-text-center {
		text-align: center!important;
	}

	.u-text-right {
		text-align: right!important;
	}

	.u-align-top {
		align-items: flex-start;
		justify-content: flex-start;
	}

	.u-align-middle {
		align-items: center;
		justify-content: center;
	}

	.u-align-bottom {
		align-items: flex-end;
		justify-content: flex-end;
	}

	.u-full-width {
		width: 100vw;
		margin-left: calc( 50% - 50vw );
		margin-right: calc( 50% - 50vw );
	}
}