@import "variables";

.tailor-icons__actions {
	max-width: 120px;

	.button,
	.spinner {
		float: left;
	}
}

.settings-information {
	background-color: $global-white-color;
	padding: 1em 2em;
}

@media #{$wp-medium-up} {
	
	.settings-information {
		position: absolute;
		right: 20px;
	}
}